In [1]:
import pandas as pd
import numpy as np

### Import datasets for different basket categories

In [2]:
wasteData = pd.read_csv("Data.csv")
display(wasteData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27653 entries, 0 to 27652
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  27653 non-null  int64
 1   country                   27653 non-null  object
 2   region                    793 non-null    object
 3   cpc_code                  27653 non-null  object
 4   commodity                 27653 non-null  object
 5   year                      27653 non-null  int64
 6   loss_percentage           27653 non-null  float64
 7   loss_percentage_original  27653 non-null  object
 8   loss_quantity             4552 non-null   object
 9   activity                  20788 non-null  object
 10  food_supply_stage         27604 non-null  object
 11  treatment                 793 non-null    object
 12  cause_of_loss             870 non-null    object
 13  sample_size               1176 non-null   object
 14  method_data_collection    27298 non-null  object
 15  reference                 8316 non-null   object
 16  url                       21158 non-null  object
 17  notes                     1230 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 3.8+ MB

None

In [3]:
display(wasteData['country'].nunique())

149

In [14]:
# cereals and pulses
CP_data = pd.read_csv("cereals_pulses_data.csv")
display(CP_data.info())

# Add a column with name- "commodity_group" and value - "Cereals and Pulses"
CP_data['commodity_group'] = "Cereals and Pulses"
display(CP_data.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21108 entries, 0 to 21107
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  21108 non-null  int64
 1   country                   21108 non-null  object
 2   region                    377 non-null    object
 3   cpc_code                  21108 non-null  float64
 4   commodity                 21108 non-null  object
 5   year                      21108 non-null  int64
 6   loss_percentage           21108 non-null  float64
 7   loss_percentage_original  21108 non-null  object
 8   loss_quantity             1962 non-null   object
 9   activity                  18846 non-null  object
 10  food_supply_stage         21087 non-null  object
 11  treatment                 389 non-null    object
 12  cause_of_loss             236 non-null    object
 13  sample_size               402 non-null    object
 14  method_data_collection    21008 non-null  object
 15  reference                 3040 non-null   object
 16  url                       18511 non-null  object
 17  notes                     377 non-null    object
dtypes: float64(2), int64(2), object(14)
memory usage: 2.9+ MB

None

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes,commodity_group
0,108,Burundi,NaN,111.0,Wheat,2020,3.50,3.5,NaN,"Shelling, Threshing",Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/page/20/data-tables#...,NaN,Cereals and Pulses
1,108,Burundi,NaN,111.0,Wheat,2020,4.87,4.87,NaN,Storage,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/page/20/data-tables#...,NaN,Cereals and Pulses
2,108,Burundi,NaN,111.0,Wheat,2020,2.50,2.5,NaN,Transportation,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/page/20/data-tables#...,NaN,Cereals and Pulses

In [15]:
# Fruits and Vegetables
FV_data = pd.read_csv("fruits_vegetables_data.csv")
display(FV_data.info())

# Add a column with name- "commodity_group" and value - "Fruits and Vegetables"
FV_data['commodity_group'] = "Fruits and Vegetables"
display(FV_data.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4026 entries, 0 to 4025
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  4026 non-null   int64
 1   country                   4026 non-null   object
 2   region                    228 non-null    object
 3   cpc_code                  4026 non-null   float64
 4   commodity                 4026 non-null   object
 5   year                      4026 non-null   int64
 6   loss_percentage           4026 non-null   float64
 7   loss_percentage_original  4026 non-null   object
 8   loss_quantity             1069 non-null   object
 9   activity                  1229 non-null   object
 10  food_supply_stage         4005 non-null   object
 11  treatment                 284 non-null    object
 12  cause_of_loss             446 non-null    object
 13  sample_size               562 non-null    object
 14  method_data_collection    3899 non-null   object
 15  reference                 2964 non-null   object
 16  url                       1979 non-null   object
 17  notes                     615 non-null    object
dtypes: float64(2), int64(2), object(14)
memory usage: 566.3+ KB

None

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes,commodity_group
0,116,Cambodia,"Kandal Province, and wholesalers and retailers...",1234.0,Tomatoes,2013,3.5,3.5,NaN,NaN,Trader,NaN,Physical Damage Rotting/Decay,onsite interviews were conducted involving 30 ...,NaN,"Buntong, B., 2Srilaong, V., 3Wasusri, T., 2Kan...",http://www.ifrj.upm.edu.my/20%20(01)%202013/31...,NaN,Fruits and Vegetables
1,116,Cambodia,"Kandal Province, and wholesalers and retailers...",1234.0,Tomatoes,2013,12.5,12.5,NaN,NaN,Farm,NaN,Immaturity Insect Damage Rotting/Decay,onsite interviews were conducted involving 30 ...,NaN,"Buntong, B., 2Srilaong, V., 3Wasusri, T., 2Kan...",http://www.ifrj.upm.edu.my/20%20(01)%202013/31...,NaN,Fruits and Vegetables
2,116,Cambodia,"Kandal Province, and wholesalers and retailers...",1234.0,Tomatoes,2013,3.5,3.5,NaN,NaN,Retail,NaN,Rotting/Decay Over-Ripening,onsite interviews were conducted involving 30 ...,NaN,"Buntong, B., 2Srilaong, V., 3Wasusri, T., 2Kan...",http://www.ifrj.upm.edu.my/20%20(01)%202013/31...,NaN,Fruits and Vegetables

In [16]:
# meat and dairy
MD_data = pd.read_csv("meat_dairy_data.csv")
display(MD_data.info())
#display(MD_data['country'].unique())

# Add a column with name- "commodity_group" and value - "Meat and Dairy"
MD_data['commodity_group'] = "Meat and Dairy"
display(MD_data.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677 entries, 0 to 676
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  677 non-null    int64
 1   country                   677 non-null    object
 2   region                    4 non-null      object
 3   cpc_code                  677 non-null    object
 4   commodity                 677 non-null    object
 5   year                      677 non-null    int64
 6   loss_percentage           677 non-null    float64
 7   loss_percentage_original  677 non-null    object
 8   loss_quantity             515 non-null    object
 9   activity                  88 non-null     object
 10  food_supply_stage         673 non-null    object
 11  treatment                 0 non-null      float64
 12  cause_of_loss             34 non-null     object
 13  sample_size               26 non-null     object
 14  method_data_collection    676 non-null    object
 15  reference                 653 non-null    object
 16  url                       79 non-null     object
 17  notes                     53 non-null     object
dtypes: float64(2), int64(2), object(14)
memory usage: 95.3+ KB

None

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes,commodity_group
0,124,Canada,NaN,231,"Hen eggs in shell, fresh",2018,1.95,1.95%,11120,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN,Meat and Dairy
1,124,Canada,NaN,21113.01,"Meat of pig, fresh or chilled",2018,8.00,8%,170080,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN,Meat and Dairy
2,124,Canada,NaN,231,"Hen eggs in shell, fresh",2017,1.95,1.95%,10760,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN,Meat and Dairy

In [17]:
# roots_tubers_oil-bearing crops
RTO_data = pd.read_csv("roots_tubers_oilCrops_data.csv")
display(RTO_data.info())

# Add a column with name- "commodity_group" and value - "Roots, Tubers and Oil-bearing Crops"
RTO_data['commodity_group'] = "Roots, Tubers and Oil-bearing Crops"
display(RTO_data.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  1436 non-null   int64
 1   country                   1436 non-null   object
 2   region                    173 non-null    object
 3   cpc_code                  1436 non-null   float64
 4   commodity                 1436 non-null   object
 5   year                      1436 non-null   int64
 6   loss_percentage           1436 non-null   float64
 7   loss_percentage_original  1436 non-null   object
 8   loss_quantity             856 non-null    object
 9   activity                  497 non-null    object
 10  food_supply_stage         1433 non-null   object
 11  treatment                 116 non-null    object
 12  cause_of_loss             142 non-null    object
 13  sample_size               147 non-null    object
 14  method_data_collection    1352 non-null   object
 15  reference                 1368 non-null   object
 16  url                       390 non-null    object
 17  notes                     146 non-null    object
dtypes: float64(2), int64(2), object(14)
memory usage: 202.1+ KB

None

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes,commodity_group
0,104,Myanmar,NaN,142.0,"Groundnuts, excluding shelled",2009,5.22,5.22%,68100,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN,"Roots, Tubers and Oil-bearing Crops"
1,104,Myanmar,NaN,142.0,"Groundnuts, excluding shelled",2008,5.43,5.43%,65240,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN,"Roots, Tubers and Oil-bearing Crops"
2,104,Myanmar,NaN,142.0,"Groundnuts, excluding shelled",2007,5.61,5.61%,61080,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN,"Roots, Tubers and Oil-bearing Crops"

In [18]:
# Others
others_data = pd.read_csv("other_foods_data.csv")
display(others_data.info())

# Add a column with name- "commodity_group" and value - "Others"
others_data['commodity_group'] = "Others"
display(others_data.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  406 non-null    int64
 1   country                   406 non-null    object
 2   region                    11 non-null     object
 3   cpc_code                  406 non-null    object
 4   commodity                 406 non-null    object
 5   year                      406 non-null    int64
 6   loss_percentage           406 non-null    float64
 7   loss_percentage_original  406 non-null    object
 8   loss_quantity             150 non-null    object
 9   activity                  128 non-null    object
 10  food_supply_stage         406 non-null    object
 11  treatment                 4 non-null      object
 12  cause_of_loss             12 non-null     object
 13  sample_size               39 non-null     object
 14  method_data_collection    363 non-null    object
 15  reference                 291 non-null    object
 16  url                       199 non-null    object
 17  notes                     39 non-null     object
dtypes: float64(1), int64(2), object(15)
memory usage: 57.2+ KB

None

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes,commodity_group
0,320,Guatemala,NaN,1802,Sugar cane,2016,0.84,0.84%,281605,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN,Others
1,320,Guatemala,NaN,1802,Sugar cane,2015,0.85,0.85%,287393,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN,Others
2,320,Guatemala,NaN,1802,Sugar cane,2014,0.84,0.84%,279135,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN,Others

In [19]:
# Combine all commodity group datasets
frames = [CP_data, FV_data, MD_data, RTO_data, others_data]
df = pd.concat(frames)
display(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27653 entries, 0 to 405
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  27653 non-null  int64
 1   country                   27653 non-null  object
 2   region                    793 non-null    object
 3   cpc_code                  27653 non-null  object
 4   commodity                 27653 non-null  object
 5   year                      27653 non-null  int64
 6   loss_percentage           27653 non-null  float64
 7   loss_percentage_original  27653 non-null  object
 8   loss_quantity             4552 non-null   object
 9   activity                  20788 non-null  object
 10  food_supply_stage         27604 non-null  object
 11  treatment                 793 non-null    object
 12  cause_of_loss             870 non-null    object
 13  sample_size               1176 non-null   object
 14  method_data_collection    27298 non-null  object
 15  reference                 8316 non-null   object
 16  url                       21158 non-null  object
 17  notes                     1230 non-null   object
 18  commodity_group           27653 non-null  object
dtypes: float64(1), int64(2), object(16)
memory usage: 4.2+ MB

None

### Keep following columns

- m49_code

- country

- cpc_code

- commodity_group

- commodity

- year

- loss_percentage

- activity

- food_supply_stage

- method_data_collection

In [20]:
df2 = df[['m49_code', 'country', 'cpc_code', 'commodity_group', 'commodity', 'year', 'loss_percentage',
         'activity', 'food_supply_stage', 'method_data_collection']]

display(df2['country'].nunique())

df2 = df2.astype({'m49_code': 'str'})
display(df2.info())

149

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27653 entries, 0 to 405
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   m49_code                27653 non-null  object
 1   country                 27653 non-null  object
 2   cpc_code                27653 non-null  object
 3   commodity_group         27653 non-null  object
 4   commodity               27653 non-null  object
 5   year                    27653 non-null  int64
 6   loss_percentage         27653 non-null  float64
 7   activity                20788 non-null  object
 8   food_supply_stage       27604 non-null  object
 9   method_data_collection  27298 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.3+ MB

None

### Check for missing data

In [21]:
df2.isnull().sum()

m49_code                     0
country                      0
cpc_code                     0
commodity_group              0
commodity                    0
year                         0
loss_percentage              0
activity                  6865
food_supply_stage           49
method_data_collection     355
dtype: int64

### Add country information dataset

In [22]:
unsd = pd.read_csv("UNSD.csv")


unsd_2 = unsd[['Country or Area', 'M49 Code', 'ISO-alpha3 Code']]
unsd_2.columns = ['country', 'm49_code', 'country_code']
unsd_2.info()

display(unsd_2['m49_code'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       249 non-null    object
 1   m49_code      249 non-null    object
 2   country_code  248 non-null    object
dtypes: object(3)
memory usage: 6.0+ KB

array(['12', '818', '434', '504', '729', '788', '732', '86', '108', '174',
       '262', '232', '231', '260', '404', '450', '454', '480', '175',
       '508', '638', '646', '690', '706', '728', '800', '834', '894',
       '716', '24', '120', '140', '148', '178', '180', '226', '266',
       '678', '72', '748', '426', '516', '710', '204', '854', '132',
       '384', '270', '288', '324', '624', '430', '466', '478', '562',
       '566', '654', '686', '694', '768', '660', '28', '533', '44', '52',
       ' Sint Eustatius and Saba', '92', '136', '192', '531', '212',
       '214', '308', '312', '332', '388', '474', '500', '630', '652',
       '659', '662', '663', '670', '534', '780', '796', '850', '84',
       '188', '222', '320', '340', '484', '558', '591', '32', '68', '74',
       '76', '152', '170', '218', '238', '254', '328', '600', '604',
       '239', '740', '858', '862', '60', '124', '304', '666', '840', '10',
       '398', '417', '762', '795', '860', '156',
       ' Hong Kong Special Administrative Region',
       ' Macao Special Administrative Region', '408', '392', '496', '410',
       '96', '116', '360', '418', '458', '104', '608', '702', '764',
       '626', '704', '4', '50', '64', '356', '364', '462', '524', '586',
       '144', '51', '31', '48', '196', '268', '368', '376', '400', '414',
       '422', '512', '634', '682', '275', '760', '792', '784', '887',
       '112', '100', '203', '348', '616', '498', '642', '643', '703',
       '804', '248', '831', '832', '680', '208', '233', '234', '246',
       '352', '372', '833', '428', '440', '578', '744', '752', '826', '8',
       '20', '70', '191', '292', '300', '336', '380', '470', '499', '807',
       '620', '674', '688', '705', '724', '40', '56', '250', '276', '438',
       '442', '492', '528', '756', '36', '162', '166', '334', '554',
       '574', '242', '540', '598', '90', '548', '316', '296', '584',
       '583', '520', '580', '585', '581', '16', '184', '258', '570',
       '612', '882', '772', '776', '798', '876'], dtype=object)

In [23]:
countryData = pd.read_csv('ESGCountry.csv')
#display(countryData)
country_df1 = countryData[['Country Code', 'Region', 'Income Group']]
country_df1.columns = country_df1.columns.str.replace(' ', '_').str.lower()
display(country_df1.isna().sum())
display(country_df1.info())

country_code     0
region          46
income_group    47
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  239 non-null    object
 1   region        193 non-null    object
 2   income_group  192 non-null    object
dtypes: object(3)
memory usage: 5.7+ KB

None

In [24]:
# Combine the two datasets by inner_join on country_code
country_df2 = pd.merge(unsd_2, country_df1, on='country_code', how='left')
country_df3 = country_df2.drop('country', axis=1)
display(country_df3.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 248
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   m49_code      249 non-null    object
 1   country_code  248 non-null    object
 2   region        193 non-null    object
 3   income_group  192 non-null    object
dtypes: object(4)
memory usage: 9.7+ KB

None

In [25]:
# Combine country data with original dataframe
df3 = pd.merge(df2, country_df3, how='left', on='m49_code')
display(df3.info())

display(df3['year'].unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27653 entries, 0 to 27652
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   m49_code                27653 non-null  object
 1   country                 27653 non-null  object
 2   cpc_code                27653 non-null  object
 3   commodity_group         27653 non-null  object
 4   commodity               27653 non-null  object
 5   year                    27653 non-null  int64
 6   loss_percentage         27653 non-null  float64
 7   activity                20788 non-null  object
 8   food_supply_stage       27604 non-null  object
 9   method_data_collection  27298 non-null  object
 10  country_code            27583 non-null  object
 11  region                  27577 non-null  object
 12  income_group            27252 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 3.0+ MB

None

array([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 2021],
      dtype=int64)

#### Population data for countries

In [26]:
population = pd.read_csv('totalPopulation.csv')
population.columns = population.columns.str.replace(' ', '_')

# Change data from wide to long format
population = population.drop(columns=['Indicator_Name', 'Indicator_Code', 'Country_Name']).melt(value_name='total_population', var_name='Year', id_vars=['Country_Code'])
#population.info()
#display(population['Year'].unique())

# Retain years >= 2000
population = population.astype({'Year': int})
population = population[population['Year'] >= 2000]
#population = population.astype({'Year': str})
#display(population['Year'].unique())

population.columns = population.columns.str.lower()
display(population.info())
display(population['country_code'].nunique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5586 entries, 10640 to 16225
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_code      5586 non-null   object
 1   year              5586 non-null   int32
 2   total_population  5556 non-null   float64
dtypes: float64(1), int32(1), object(1)
memory usage: 152.7+ KB

None

266

In [27]:
# Combine population data to the dataframe
df4 = pd.merge(df3, population, on=['country_code', 'year'], how='left')
display(df4.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27653 entries, 0 to 27652
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   m49_code                27653 non-null  object
 1   country                 27653 non-null  object
 2   cpc_code                27653 non-null  object
 3   commodity_group         27653 non-null  object
 4   commodity               27653 non-null  object
 5   year                    27653 non-null  int64
 6   loss_percentage         27653 non-null  float64
 7   activity                20788 non-null  object
 8   food_supply_stage       27604 non-null  object
 9   method_data_collection  27298 non-null  object
 10  country_code            27583 non-null  object
 11  region                  27577 non-null  object
 12  income_group            27252 non-null  object
 13  total_population        27368 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 3.2+ MB

None

In [28]:
display(df4['region'].unique())

array(['Sub-Saharan Africa', nan, 'North America', 'South Asia',
       'East Asia & Pacific', 'Latin America & Caribbean',
       'Europe & Central Asia', 'Middle East & North Africa'],
      dtype=object)

#### Undernourishment data for countries

In [29]:
undernourishment = pd.read_csv('undernourishment.csv')
display(undernourishment.info())

undernourishment = undernourishment.drop('Entity', axis=1)
undernourishment.columns = ['country_code', 'year', 'undernourishment_prevalence_perc_pop']

# Remove missing data
undernourishment = undernourishment[undernourishment['country_code'].notna()]

display(undernourishment.info())
display(undernourishment['country_code'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3613 entries, 0 to 3612
Data columns (total 4 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Entity                                            3613 non-null   object
 1   Code                                              2790 non-null   object
 2   Year                                              3613 non-null   int64
 3   Prevalence of undernourishment (% of population)  3613 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 113.0+ KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2790 entries, 0 to 3612
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country_code                          2790 non-null   object
 1   year                                  2790 non-null   int64
 2   undernourishment_prevalence_perc_pop  2790 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 87.2+ KB

None

155

In [30]:
# Merge undernourishment data to the dataframe
df5 = pd.merge(df4, undernourishment, on=['country_code', 'year'], how='left')
display(df5.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27653 entries, 0 to 27652
Data columns (total 15 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   m49_code                              27653 non-null  object
 1   country                               27653 non-null  object
 2   cpc_code                              27653 non-null  object
 3   commodity_group                       27653 non-null  object
 4   commodity                             27653 non-null  object
 5   year                                  27653 non-null  int64
 6   loss_percentage                       27653 non-null  float64
 7   activity                              20788 non-null  object
 8   food_supply_stage                     27604 non-null  object
 9   method_data_collection                27298 non-null  object
 10  country_code                          27583 non-null  object
 11  region                                27577 non-null  object
 12  income_group                          27252 non-null  object
 13  total_population                      27368 non-null  float64
 14  undernourishment_prevalence_perc_pop  20171 non-null  float64
dtypes: float64(3), int64(1), object(11)
memory usage: 3.4+ MB

None

In [31]:
# Save dataframe
#df5.to_csv('./CleanedData/foodWaste.csv', index=False)

### Historical Emissions Data

In [2]:
emission = pd.read_csv("historical_emissions.csv")
display(emission.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9082 entries, 0 to 9081
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      9082 non-null   object
 1   Data source  9082 non-null   object
 2   Sector       9082 non-null   object
 3   Gas          9082 non-null   object
 4   Unit         9082 non-null   object
 5   2018         8906 non-null   float64
 6   2017         8906 non-null   float64
 7   2016         8907 non-null   float64
 8   2015         8907 non-null   float64
 9   2014         9080 non-null   float64
 10  2013         9080 non-null   float64
 11  2012         9080 non-null   float64
 12  2011         9071 non-null   float64
 13  2010         9069 non-null   float64
 14  2009         9069 non-null   float64
 15  2008         9068 non-null   float64
 16  2007         9068 non-null   float64
 17  2006         9069 non-null   float64
 18  2005         9067 non-null   float64
 19  2004         9056 non-null   float64
 20  2003         9056 non-null   float64
 21  2002         9055 non-null   float64
 22  2001         9055 non-null   float64
 23  2000         9054 non-null   float64
 24  1999         9010 non-null   float64
 25  1998         9010 non-null   float64
 26  1997         9010 non-null   float64
 27  1996         9010 non-null   float64
 28  1995         9010 non-null   float64
 29  1994         8999 non-null   float64
 30  1993         8998 non-null   float64
 31  1992         8996 non-null   float64
 32  1991         8966 non-null   float64
 33  1990         8915 non-null   float64
dtypes: float64(29), object(5)
memory usage: 2.4+ MB

None

In [3]:
# Change data from wide to long format
emission = emission.drop(columns=['Data source', 'Unit']).melt(value_name='emission', var_name='year', id_vars=['Country', 'Sector', 'Gas'])
emission.info()
display(emission)
display(emission['year'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263378 entries, 0 to 263377
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Country   263378 non-null  object
 1   Sector    263378 non-null  object
 2   Gas       263378 non-null  object
 3   year      263378 non-null  object
 4   emission  261547 non-null  float64
dtypes: float64(1), object(4)
memory usage: 10.0+ MB

            Country                 Sector      Gas  year  emission
0       Afghanistan   Total excluding LUCF  All GHG  2018     98.92
1       Afghanistan   Total including LUCF  All GHG  2018     99.08
2       Afghanistan                 Energy  All GHG  2018     79.58
3       Afghanistan   Industrial Processes  All GHG  2018      1.06
4       Afghanistan            Agriculture  All GHG  2018     14.74
...             ...                    ...      ...   ...       ...
263373     Zimbabwe  Other Fuel Combustion      N2O  1990      0.41
263374     Zimbabwe     Fugitive Emissions      N2O  1990      0.00
263375     Zimbabwe   Total excluding LUCF    F-Gas  1990      0.07
263376     Zimbabwe   Total including LUCF    F-Gas  1990      0.07
263377     Zimbabwe   Industrial Processes    F-Gas  1990      0.07

[263378 rows x 5 columns]

array(['2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011',
       '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003',
       '2002', '2001', '2000', '1999', '1998', '1997', '1996', '1995',
       '1994', '1993', '1992', '1991', '1990'], dtype=object)

In [6]:
# Retain years >= 2000
emission2 = emission.copy()
emission2 = emission2.astype({'year': int})
emission2 = emission2[emission2['year'] >= 2000]
emission2 = emission2.astype({'year': str})

#emission2.to_csv('./CleanedData/emissions2.csv', index=False)

In [5]:
display(emission2.info())
display(emission['Sector'].unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172558 entries, 0 to 172557
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Country   172558 non-null  object
 1   Sector    172558 non-null  object
 2   Gas       172558 non-null  object
 3   year      172558 non-null  object
 4   emission  171623 non-null  float64
dtypes: float64(1), object(4)
memory usage: 7.9+ MB

None

array(['Total excluding LUCF', 'Total including LUCF', 'Energy',
       'Industrial Processes', 'Agriculture', 'Waste',
       'Land-Use Change and Forestry', 'Bunker Fuels', 'Electricity/Heat',
       'Manufacturing/Construction', 'Transportation', 'Building',
       'Other Fuel Combustion', 'Fugitive Emissions'], dtype=object)

In [26]:
# Include data for sectors- Energy, Waste, Agriculture, Industrial Processes, Transportation, 'Electricity/Heat'
sectors_to_include = ['Energy', 'Industrial Processes', 'Agriculture', 'Waste',
                     'Transportation', 'Electricity/Heat']

emission3 = emission2[emission2['Sector'].isin(sectors_to_include)]
emission3.columns = emission3.columns.str.lower()
display(emission3.info())

# Save dataframe
#emission3.to_csv('./CleanedData/emissions.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69825 entries, 2 to 172557
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   69825 non-null  object
 1   sector    69825 non-null  object
 2   gas       69825 non-null  object
 3   year      69825 non-null  object
 4   emission  69757 non-null  float64
dtypes: float64(1), object(4)
memory usage: 3.2+ MB

None

### Hunger and Undernourishment Data